<ion-content class="ion-text-center container">
  <ion-icon name="checkmark-circle" color="success" style="font-size: 128px"></ion-icon>

  <h1>¡Felicidades!</h1>
  <h2>Todas las lecciones se completaron con éxito</h2>

  <p>Has hecho un gran progreso. ¡Sigue así!</p>


  <div class="button-container">
    <ion-button class="home-button" routerLink="/lessons" color="white" >
      <img src="assets\image\home.png" alt="Lecciones" />
    </ion-button>
    <ion-button class="back-button" routerLink="/lessons/Vocales/A/a" color="white">
      <img src="assets\image\back.png" alt="Regresar" />
    </ion-button>
    <ion-button class="next-button" routerLink="/exercise" color="white">
      <img src="assets\image\exercise.png" alt="Regresar" />
    </ion-button>
  </div>
</ion-content>

