<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Lecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="subtitle">Vocales</div>
  <div class="vowels-container">
    <div class="curve">
      <!-- Uso de ngFor para las vocales -->
      <div *ngFor="let vowel of vowels" class="circle vowel-{{vowel.toLowerCase()}}" 
        [ngClass]="{'selected': selectedLetter === vowel}" 
        (click)="selectLetter(vowel)">
        <ion-button class="vowel-button"  routerDirection="forward" [href]="'/lessons/Vocales/' + vowel + '/' + vowel.toLowerCase()">
          {{ vowel }}
        </ion-button>
      </div>
    </div>
  </div>

  <div class="subtitle">Consonantes</div>
  <div class="consonant-container">
    <div class="curve">
      <!-- Uso de ngFor para las consonantes -->
      <div *ngFor="let consonant of consonants" class="circle consonant-{{consonant.toLowerCase()}}" 
        [ngClass]="{'selected': selectedLetter === consonant}" 
        (click)="selectLetter(consonant)">
        <ion-button class="consonant-button"  routerDirection="forward" [href]="'/lessons/'">
          {{ consonant }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
