<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lessons" href="/tabs/lessons">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Lecciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise" href="/tabs/exercise">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exam" href="/tabs/exam">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Examen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
