<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lessons" href="/lessons">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Lecciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise" href="/exercise">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exam" href="/exam">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Examen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="logout" href="/logout">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
